FLASK_ENV=production
# URL de conexión a Amazon RDS. Reemplaza el host, usuario y password con los de tu instancia RDS real.
DATABASE_URL=postgresql://tu_usuario_rds:tu_password_rds@tu-instancia-rds.cxmxyzzz.us-east-1.rds.amazonaws.com:5432/envaperu_db

# JWT y Seguridad
SECRET_KEY=tu_super_secreto_aqui
JWT_SECRET_KEY=tu_jwt_secret_aqui

# API Keys de Servicios Externos
GEMINI_API_KEY=tu_api_key_de_gemini
